.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

span {
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(63, 78, 65);
  color: rgb(231, 236, 196);
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
